[submodule ".haxelib/cloner/git"]
	path = .haxelib/cloner/git
	url = https://github.com/thomasuster/cloner.git

[submodule ".haxelib/golgi/git"]
	path = .haxelib/golgi/git
	url = https://github.com/jdonaldson/golgi.git
[submodule ".haxelib/polygonal-printf/git"]
	path = .haxelib/polygonal-printf/git
	url = https://github.com/polygonal/printf.git
[submodule ".haxelib/stx_assert/git"]
	path = .haxelib/stx_assert/git
	url = https://github.com/ohmrun/stx_assert.git
[submodule ".haxelib/stx_fn/git"]
	path = .haxelib/stx_fn/git
	url = https://github.com/ohmrun/stx_fn.git
[submodule ".haxelib/stx_fp/git"]
	path = .haxelib/stx_fp/git
	url = https://github.com/ohmrun/stx_fp.git
[submodule ".haxelib/stx_log/git"]
	path = .haxelib/stx_log/git
	url = https://github.com/ohmrun/stx_log.git
[submodule ".haxelib/stx_nano/git"]
	path = .haxelib/stx_nano/git
	url = https://github.com/ohmrun/stx_nano.git
[submodule ".haxelib/stx_pico/git"]
	path = .haxelib/stx_pico/git
	url = https://github.com/ohmrun/stx_pico.git
[submodule ".haxelib/tink_clone/git"]
	path = .haxelib/tink_clone/git
	url = https://github.com/haxetink/tink_clone.git
[submodule ".haxelib/tink_core/git"]
	path = .haxelib/tink_core/git
	url = https://github.com/haxetink/tink_core.git
[submodule ".haxelib/utest/git"]
	path = .haxelib/utest/git
	url = https://github.com/haxe-utest/utest.git
[submodule ".haxelib/feathersui-openfl/git"]
	path = .haxelib/feathersui-openfl.git
	url = https://github.com/BowlerHatLLC/feathersui-openfl.git
[submodule "openfl"]
	shallow = true
[submodule ".haxelib/openfl/git"]
	path = .haxelib/openfl/git
	url = https://github.com/openfl/openfl.git
[submodule ".haxelib/openfl-js/git"]
	path = .haxelib/openfl-js/git
	url = https://github.com/openfl/openfl-js.git
[submodule ".haxelib/tink_typecrawler/git"]
	path = .haxelib/tink_typecrawler/git
	url = https://github.com/haxetink/tink_typecrawler.git
[submodule ".haxelib/tink_macro/git"]
	path = .haxelib/tink_macro/git
	url = https://github.com/haxetink/tink_macro.git
